/* line 10, ../sass/blogs_landing.scss */
.page-school-blogs .view-views-school-blogs.view-display-id-blogs_landing_page .col.col-lg-6, .page-school-blogs .view-views-school-blogs.view-display-id-page_1 .col.col-lg-6 {
  padding: 10px;
  width: 50%;
  float: left;
  overflow: auto;
}
@media only screen and (max-width: 600px) {
  /* line 10, ../sass/blogs_landing.scss */
  .page-school-blogs .view-views-school-blogs.view-display-id-blogs_landing_page .col.col-lg-6, .page-school-blogs .view-views-school-blogs.view-display-id-page_1 .col.col-lg-6 {
    width: 85%;
    float: none;
    margin: auto;
  }
}
@media only screen and (max-width: 400px) {
  /* line 10, ../sass/blogs_landing.scss */
  .page-school-blogs .view-views-school-blogs.view-display-id-blogs_landing_page .col.col-lg-6, .page-school-blogs .view-views-school-blogs.view-display-id-page_1 .col.col-lg-6 {
    width: 100%;
  }
}
/* line 99, ../sass/_mixin.scss */
.page-school-blogs .view-views-school-blogs.view-display-id-blogs_landing_page .blog-item .card, .page-school-blogs .view-views-school-blogs.view-display-id-page_1 .blog-item .card {
  position: relative;
  float: left;
  padding-bottom: 50%;
  width: 100%;
  text-align: center;
}
/* line 107, ../sass/_mixin.scss */
.page-school-blogs .view-views-school-blogs.view-display-id-blogs_landing_page .blog-item .card__front,
.page-school-blogs .view-views-school-blogs.view-display-id-blogs_landing_page .blog-item .card__back, .page-school-blogs .view-views-school-blogs.view-display-id-page_1 .blog-item .card__front,
.page-school-blogs .view-views-school-blogs.view-display-id-page_1 .blog-item .card__back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* line 116, ../sass/_mixin.scss */
.page-school-blogs .view-views-school-blogs.view-display-id-blogs_landing_page .blog-item .card__front,
.page-school-blogs .view-views-school-blogs.view-display-id-blogs_landing_page .blog-item .card__back, .page-school-blogs .view-views-school-blogs.view-display-id-page_1 .blog-item .card__front,
.page-school-blogs .view-views-school-blogs.view-display-id-page_1 .blog-item .card__back {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
}
/* line 124, ../sass/_mixin.scss */
.page-school-blogs .view-views-school-blogs.view-display-id-blogs_landing_page .blog-item .card__back, .page-school-blogs .view-views-school-blogs.view-display-id-page_1 .blog-item .card__back {
  background-color: white;
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  border: 1px solid;
  text-align: left;
  padding: 10px;
}
/* line 133, ../sass/_mixin.scss */
.page-school-blogs .view-views-school-blogs.view-display-id-blogs_landing_page .blog-item .card.effect__hover:hover .card__front, .page-school-blogs .view-views-school-blogs.view-display-id-page_1 .blog-item .card.effect__hover:hover .card__front {
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}
/* line 138, ../sass/_mixin.scss */
.page-school-blogs .view-views-school-blogs.view-display-id-blogs_landing_page .blog-item .card.effect__hover:hover .card__back, .page-school-blogs .view-views-school-blogs.view-display-id-page_1 .blog-item .card.effect__hover:hover .card__back {
  -webkit-transform: rotateY(0);
  transform: rotateY(0);
}
/* line 27, ../sass/blogs_landing.scss */
.page-school-blogs .view-views-school-blogs.view-display-id-blogs_landing_page .blog-item .blog-image img, .page-school-blogs .view-views-school-blogs.view-display-id-page_1 .blog-item .blog-image img {
  width: 100%;
  margin: auto;
}
/* line 32, ../sass/blogs_landing.scss */
.page-school-blogs .view-views-school-blogs.view-display-id-blogs_landing_page .blog-item .blog-info, .page-school-blogs .view-views-school-blogs.view-display-id-page_1 .blog-item .blog-info {
  max-height: 100%;
}
/* line 34, ../sass/blogs_landing.scss */
.page-school-blogs .view-views-school-blogs.view-display-id-blogs_landing_page .blog-item .blog-info .blog-title, .page-school-blogs .view-views-school-blogs.view-display-id-page_1 .blog-item .blog-info .blog-title {
  font-size: 1.2rem;
  margin-bottom: 10px;
}
/* line 38, ../sass/blogs_landing.scss */
.page-school-blogs .view-views-school-blogs.view-display-id-blogs_landing_page .blog-item .blog-info .blog-date, .page-school-blogs .view-views-school-blogs.view-display-id-page_1 .blog-item .blog-info .blog-date {
  margin: 0 0 15px;
  padding: 0;
  font-size: 15px;
  background-image: url("../images/icons/clock.png");
  background-repeat: no-repeat;
  background-position-y: 3px;
}
/* line 45, ../sass/blogs_landing.scss */
.page-school-blogs .view-views-school-blogs.view-display-id-blogs_landing_page .blog-item .blog-info .blog-date span, .page-school-blogs .view-views-school-blogs.view-display-id-page_1 .blog-item .blog-info .blog-date span {
  margin-left: 25px;
}
/* line 50, ../sass/blogs_landing.scss */
.page-school-blogs .view-views-school-blogs.view-display-id-blogs_landing_page .blog-item .blog-info .blog-description p, .page-school-blogs .view-views-school-blogs.view-display-id-page_1 .blog-item .blog-info .blog-description p {
  margin-bottom: 1.3em;
  line-height: 25px;
}

/*# sourceMappingURL=blogs_landing.css.map */
