/* line 90, ../sass/_mixin.scss */
#block-views-views-school-faculty-block .block-title, #block-views-views-events-block-1 .block-title, #block-views-views-school-block-2 .block-title, #block-views-views-school-blogs-block-1 .block-title, #block-views-views-school-chairman .block-title, #block-views-views-school-principal .block-title, #block-views-views-school-about-us .block-title {
  font-family: "Oswald", sans-serif, Helvetica;
  font-size: 1.8rem;
}

/* line 6, ../sass/school-node.scss */
#block-views-views-school-block-1 .views-field-field-ct-images img {
  width: 100%;
}

/* line 12, ../sass/school-node.scss */
#block-views-views-school-faculty-block {
  background: white;
  width: 100%;
  margin: 0;
  padding-top: 40px;
  text-align: center;
  padding-bottom: 40px;
  background-color: #ededed;
}
/* line 12, ../sass/_mixin.scss */
#block-views-views-school-faculty-block .block-title {
  color: black;
  margin-bottom: 40px;
  margin-top: 0;
  text-align: center;
  display: inline-block;
}
/* line 16, ../sass/_mixin.scss */
#block-views-views-school-faculty-block .view-header {
  width: 70%;
  margin: 0 auto;
  margin-bottom: 40px;
  color: inherit;
  margin-top: -20px;
}
/* line 20, ../sass/_mixin.scss */
#block-views-views-school-faculty-block .view-content {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  color: inherit;
}
/* line 81, ../sass/_mixin.scss */
#block-views-views-school-faculty-block .view-content .views-rows {
  text-align: left;
}
/* line 24, ../sass/_mixin.scss */
#block-views-views-school-faculty-block .view-footer {
  margin: auto;
  margin-top: 40px;
  width: auto;
  min-width: 122px;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}
/* line 57, ../sass/_mixin.scss */
#block-views-views-school-faculty-block .view-footer a {
  color: white;
  padding: 10px 16px;
  display: block;
  border-radius: 3px;
  border: 1px solid white;
  background: #2c93d5;
  transition: 0.5s all;
}
/* line 67, ../sass/_mixin.scss */
#block-views-views-school-faculty-block .view-footer a:hover {
  border: 1px solid white;
  background: orange;
  color: white;
}
/* line 15, ../sass/school-node.scss */
#block-views-views-school-faculty-block .views-row {
  width: 25%;
  float: left;
}
/* line 20, ../sass/school-node.scss */
#block-views-views-school-faculty-block .views-field-nothing {
  padding: 0 10px;
}
/* line 23, ../sass/school-node.scss */
#block-views-views-school-faculty-block .teacher-block {
  position: relative;
}
/* line 25, ../sass/school-node.scss */
#block-views-views-school-faculty-block .teacher-block img {
  width: 100%;
  height: auto;
}
/* line 29, ../sass/school-node.scss */
#block-views-views-school-faculty-block .teacher-block .teacher-detail {
  padding: 20px;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 15px 2px rgba(111, 111, 255, 0.75);
  box-shadow: 0px 0px 15px 2px rgba(111, 111, 255, 0.75);
}
/* line 44, ../sass/school-node.scss */
#block-views-views-school-faculty-block .teacher-block:hover .teacher-detail {
  -webkit-transform: scale(1);
  transform: scale(1);
}
/* line 48, ../sass/school-node.scss */
#block-views-views-school-faculty-block .teacher-detail {
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
}

/* line 54, ../sass/school-node.scss */
#block-views-views-events-block-1 {
  background: white;
  width: 100%;
  margin: 0;
  padding-top: 40px;
  text-align: center;
  padding-bottom: 40px;
}
/* line 12, ../sass/_mixin.scss */
#block-views-views-events-block-1 .block-title {
  color: black;
  margin-bottom: 40px;
  margin-top: 0;
  text-align: center;
  display: inline-block;
}
/* line 16, ../sass/_mixin.scss */
#block-views-views-events-block-1 .view-header {
  width: 70%;
  margin: 0 auto;
  margin-bottom: 40px;
  color: inherit;
  margin-top: -20px;
}
/* line 20, ../sass/_mixin.scss */
#block-views-views-events-block-1 .view-content {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  color: inherit;
}
/* line 81, ../sass/_mixin.scss */
#block-views-views-events-block-1 .view-content .views-rows {
  text-align: left;
}
/* line 24, ../sass/_mixin.scss */
#block-views-views-events-block-1 .view-footer {
  margin: auto;
  margin-top: 40px;
  width: auto;
  min-width: 122px;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}
/* line 57, ../sass/_mixin.scss */
#block-views-views-events-block-1 .view-footer a {
  color: white;
  padding: 10px 16px;
  display: block;
  border-radius: 3px;
  border: 1px solid white;
  background: #2c93d5;
  transition: 0.5s all;
}
/* line 67, ../sass/_mixin.scss */
#block-views-views-events-block-1 .view-footer a:hover {
  border: 1px solid white;
  background: orange;
  color: white;
}
/* line 57, ../sass/school-node.scss */
#block-views-views-events-block-1 .views-row {
  width: 25%;
  float: left;
}
/* line 62, ../sass/school-node.scss */
#block-views-views-events-block-1 .views-field-nothing {
  padding: 0 10px;
}
/* line 66, ../sass/school-node.scss */
#block-views-views-events-block-1 .event-container {
  position: relative;
  overflow: hidden;
}
/* line 69, ../sass/school-node.scss */
#block-views-views-events-block-1 .event-container img {
  width: 100%;
  height: auto;
}
/* line 73, ../sass/school-node.scss */
#block-views-views-events-block-1 .event-container .event-textbox {
  text-align: left;
  padding: 20px;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: -100%;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: inset 0px 0px 5px 2px rgba(255, 255, 255, 0.75);
  box-shadow: inset 0px 0px 5px 2px rgba(255, 255, 255, 0.75);
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
  color: white;
}
/* line 89, ../sass/school-node.scss */
#block-views-views-events-block-1 .event-container .event-textbox a {
  color: white;
}
/* line 94, ../sass/school-node.scss */
#block-views-views-events-block-1 .event-container:hover .event-textbox {
  margin-top: 0;
}
/* line 98, ../sass/school-node.scss */
#block-views-views-events-block-1 .read-more {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 15px 30px;
}
/* line 105, ../sass/school-node.scss */
#block-views-views-events-block-1 .event-date {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 5px 10px;
  margin-left: -20px;
  background: rgba(255, 255, 255, 0.2);
  color: #FFFFFF;
}
/* line 115, ../sass/school-node.scss */
#block-views-views-events-block-1 .title {
  margin-top: 20px;
}

/* line 120, ../sass/school-node.scss */
#block-views-views-school-block-2 {
  background: white;
  width: 100%;
  margin: 0;
  padding-top: 40px;
  text-align: center;
  padding-bottom: 40px;
}
/* line 12, ../sass/_mixin.scss */
#block-views-views-school-block-2 .block-title {
  color: black;
  margin-bottom: 40px;
  margin-top: 0;
  text-align: center;
  display: inline-block;
}
/* line 16, ../sass/_mixin.scss */
#block-views-views-school-block-2 .view-header {
  width: 70%;
  margin: 0 auto;
  margin-bottom: 40px;
  color: inherit;
  margin-top: -20px;
}
/* line 20, ../sass/_mixin.scss */
#block-views-views-school-block-2 .view-content {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  color: inherit;
}
/* line 81, ../sass/_mixin.scss */
#block-views-views-school-block-2 .view-content .views-rows {
  text-align: left;
}
/* line 24, ../sass/_mixin.scss */
#block-views-views-school-block-2 .view-footer {
  margin: auto;
  margin-top: 40px;
  width: auto;
  min-width: 122px;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}
/* line 57, ../sass/_mixin.scss */
#block-views-views-school-block-2 .view-footer a {
  color: white;
  padding: 10px 16px;
  display: block;
  border-radius: 3px;
  border: 1px solid white;
  background: #2c93d5;
  transition: 0.5s all;
}
/* line 67, ../sass/_mixin.scss */
#block-views-views-school-block-2 .view-footer a:hover {
  border: 1px solid white;
  background: orange;
  color: white;
}

/* line 125, ../sass/school-node.scss */
#views-bootstrap-accordion-schooldetail .panel.panel-default {
  margin-bottom: 10px;
}
/* line 127, ../sass/school-node.scss */
#views-bootstrap-accordion-schooldetail .panel.panel-default a.accordion-toggle {
  display: block;
  text-align: left;
}

/* line 134, ../sass/school-node.scss */
#block-views-views-school-blogs-block-1 {
  background: white;
  width: 100%;
  margin: 0;
  padding-top: 40px;
  text-align: center;
  padding-bottom: 40px;
  background-color: #ededed;
}
/* line 12, ../sass/_mixin.scss */
#block-views-views-school-blogs-block-1 .block-title {
  color: black;
  margin-bottom: 40px;
  margin-top: 0;
  text-align: center;
  display: inline-block;
}
/* line 16, ../sass/_mixin.scss */
#block-views-views-school-blogs-block-1 .view-header {
  width: 70%;
  margin: 0 auto;
  margin-bottom: 40px;
  color: inherit;
  margin-top: -20px;
}
/* line 20, ../sass/_mixin.scss */
#block-views-views-school-blogs-block-1 .view-content {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  color: inherit;
}
/* line 81, ../sass/_mixin.scss */
#block-views-views-school-blogs-block-1 .view-content .views-rows {
  text-align: left;
}
/* line 24, ../sass/_mixin.scss */
#block-views-views-school-blogs-block-1 .view-footer {
  margin: auto;
  margin-top: 40px;
  width: auto;
  min-width: 122px;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}
/* line 57, ../sass/_mixin.scss */
#block-views-views-school-blogs-block-1 .view-footer a {
  color: white;
  padding: 10px 16px;
  display: block;
  border-radius: 3px;
  border: 1px solid white;
  background: #2c93d5;
  transition: 0.5s all;
}
/* line 67, ../sass/_mixin.scss */
#block-views-views-school-blogs-block-1 .view-footer a:hover {
  border: 1px solid white;
  background: orange;
  color: white;
}
/* line 137, ../sass/school-node.scss */
#block-views-views-school-blogs-block-1 .views-row {
  width: 25%;
  float: left;
}
/* line 142, ../sass/school-node.scss */
#block-views-views-school-blogs-block-1 .views-field-nothing {
  padding: 0 10px;
}
/* line 146, ../sass/school-node.scss */
#block-views-views-school-blogs-block-1 .blog-container {
  position: relative;
}
/* line 149, ../sass/school-node.scss */
#block-views-views-school-blogs-block-1 .blog-container img {
  width: 100%;
  height: auto;
}
/* line 153, ../sass/school-node.scss */
#block-views-views-school-blogs-block-1 .blog-container .blog-textbox {
  text-align: left;
  padding: 20px;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.75);
  opacity: 0;
  -webkit-box-shadow: 0px 0px 15px 2px rgba(255, 255, 255, 0.75);
  box-shadow: 0px 0px 15px 2px rgba(255, 255, 255, 0.75);
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
  color: white;
}
/* line 174, ../sass/school-node.scss */
#block-views-views-school-blogs-block-1 .blog-container .blog-textbox a {
  color: white;
}
/* line 179, ../sass/school-node.scss */
#block-views-views-school-blogs-block-1 .blog-textbox:hover {
  margin-top: 0;
  opacity: 1;
}
/* line 184, ../sass/school-node.scss */
#block-views-views-school-blogs-block-1 .read-more {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 15px 30px;
}
/* line 191, ../sass/school-node.scss */
#block-views-views-school-blogs-block-1 .blog-date {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 5px 10px;
  margin-left: -20px;
  background: rgba(255, 255, 255, 0.2);
  color: #FFFFFF;
}
/* line 201, ../sass/school-node.scss */
#block-views-views-school-blogs-block-1 .title {
  margin-top: 20px;
}

/* line 206, ../sass/school-node.scss */
#block-views-views-school-chairman, #block-views-views-school-principal {
  background: white;
  width: 100%;
  margin: 0;
  padding-top: 40px;
  text-align: center;
  padding-bottom: 40px;
}
/* line 12, ../sass/_mixin.scss */
#block-views-views-school-chairman .block-title, #block-views-views-school-principal .block-title {
  color: black;
  margin-bottom: 40px;
  margin-top: 0;
  text-align: center;
  display: inline-block;
}
/* line 16, ../sass/_mixin.scss */
#block-views-views-school-chairman .view-header, #block-views-views-school-principal .view-header {
  width: 70%;
  margin: 0 auto;
  margin-bottom: 40px;
  color: inherit;
  margin-top: -20px;
}
/* line 20, ../sass/_mixin.scss */
#block-views-views-school-chairman .view-content, #block-views-views-school-principal .view-content {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  color: inherit;
}
/* line 81, ../sass/_mixin.scss */
#block-views-views-school-chairman .view-content .views-rows, #block-views-views-school-principal .view-content .views-rows {
  text-align: left;
}
/* line 24, ../sass/_mixin.scss */
#block-views-views-school-chairman .view-footer, #block-views-views-school-principal .view-footer {
  margin: auto;
  margin-top: 40px;
  width: auto;
  min-width: 122px;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}
/* line 57, ../sass/_mixin.scss */
#block-views-views-school-chairman .view-footer a, #block-views-views-school-principal .view-footer a {
  color: white;
  padding: 10px 16px;
  display: block;
  border-radius: 3px;
  border: 1px solid white;
  background: #2c93d5;
  transition: 0.5s all;
}
/* line 67, ../sass/_mixin.scss */
#block-views-views-school-chairman .view-footer a:hover, #block-views-views-school-principal .view-footer a:hover {
  border: 1px solid white;
  background: orange;
  color: white;
}
/* line 210, ../sass/school-node.scss */
#block-views-views-school-chairman .views-field-field-fc-message img, #block-views-views-school-principal .views-field-field-fc-message img {
  float: left;
  margin-right: 20px;
}
/* line 214, ../sass/school-node.scss */
#block-views-views-school-chairman .views-field-field-fc-message p, #block-views-views-school-principal .views-field-field-fc-message p {
  text-align: left;
}
/* line 219, ../sass/school-node.scss */
#block-views-views-school-chairman .field-content, #block-views-views-school-principal .field-content {
  height: 250px;
}

/* line 225, ../sass/school-node.scss */
#block-views-views-school-principal {
  background-color: #ededed;
}

/* line 229, ../sass/school-node.scss */
#block-views-views-school-about-us {
  background: white;
  width: 100%;
  margin: 0;
  padding-top: 40px;
  text-align: center;
  padding-bottom: 40px;
  background-color: #ededed;
}
/* line 12, ../sass/_mixin.scss */
#block-views-views-school-about-us .block-title {
  color: black;
  margin-bottom: 40px;
  margin-top: 0;
  text-align: center;
  display: inline-block;
}
/* line 16, ../sass/_mixin.scss */
#block-views-views-school-about-us .view-header {
  width: 70%;
  margin: 0 auto;
  margin-bottom: 40px;
  color: inherit;
  margin-top: -20px;
}
/* line 20, ../sass/_mixin.scss */
#block-views-views-school-about-us .view-content {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  color: inherit;
}
/* line 81, ../sass/_mixin.scss */
#block-views-views-school-about-us .view-content .views-rows {
  text-align: left;
}
/* line 24, ../sass/_mixin.scss */
#block-views-views-school-about-us .view-footer {
  margin: auto;
  margin-top: 40px;
  width: auto;
  min-width: 122px;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}
/* line 57, ../sass/_mixin.scss */
#block-views-views-school-about-us .view-footer a {
  color: white;
  padding: 10px 16px;
  display: block;
  border-radius: 3px;
  border: 1px solid white;
  background: #2c93d5;
  transition: 0.5s all;
}
/* line 67, ../sass/_mixin.scss */
#block-views-views-school-about-us .view-footer a:hover {
  border: 1px solid white;
  background: orange;
  color: white;
}
/* line 233, ../sass/school-node.scss */
#block-views-views-school-about-us .views-field {
  width: 48%;
  float: left;
  vertical-align: top;
}
/* line 238, ../sass/school-node.scss */
#block-views-views-school-about-us .views-field .field-content {
  text-align: left;
  height: 200px;
}
/* line 244, ../sass/school-node.scss */
#block-views-views-school-about-us .views-field-field-ct-description {
  margin-right: 4%;
}

/*# sourceMappingURL=school-node.css.map */
