@import "variable";

.node-type-ct-school-activities {

  .node-ct-school-activities {
    .field {
      margin-bottom: 10px;
    }

    img {
      width: 100%;
      height: auto;
    }

    .field-name-field-ct-description {
      h3 {
        color: $orange;
        margin-bottom: 10px;
      }
    }

    .field-name-field-ct-activity-type {
      margin-top: 20px;
    }

    .field-name-field-ct-school {
      a {
        color: $site-blue;
        font-size: 1.2rem;

        &:hover {
          font-size: 1.3rem;
          color: $orange;
        }
      }
    }
  }
}
