@import "variable";

.page-school-blogs {

  // .view-views-school-blogs.view-display-id-page {
  //   .views-row {
  //     clear: both;
  //     margin-top: 20px;
  //     height: 202px;
  //   }

  //   .views-field-field-ct-images {
  //     float: left;

  //     img {
  //       width: 100%;
  //       height: auto;
  //     }
  //   }
  // }

  .view-display-id-blogs_landing_page {
    .blog-item {
      margin: 0 1rem 1rem;
      padding: 20px 30px;
      border: 1px solid #e5e5e5;
      box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
      -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
      -ms-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
      -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
      -o-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
      .blog-image {
        margin-bottom: 20px;
        img {
          width: 100%;
          margin: auto;
          transform: scale(1.05);
          -moz-transform: scale(1.05);
          -ms-transform: scale(1.05);
          -webkit-transform: scale(1.05);
          -o-transform: scale(1.05);

          transition: all 0.5s ease-in-out 0s;
          -moz-transition: all 0.5s ease-in-out 0s;
          -ms-transition: all 0.5s ease-in-out 0s;
          -webkit-transition: all 0.5s ease-in-out 0s;
          -o-transition: all 0.5s ease-in-out 0s;

        }
      }
      .blog-info {
        .blog-title {
          font-size: 25px;
          height: 70px;
          line-height: 30px;
          overflow: hidden;
          margin-bottom: 10px;
        }
        .blog-date {
          margin: 0 0 15px;
          padding: 0;
          font-size: 15px;
          background-image: url("../images/icons/clock.png");
          background-repeat: no-repeat;
          background-position-y: 3px;
          span {
            margin-left: 25px;
          }
        }
        .blog-description {
          p {
            margin-bottom: 1.3em;
            line-height: 25px;
          }
        }
      }
    }
  }
}
