@import "variable";
@import "mixin";

.page-school-blogs {

  .view-views-school-blogs {

    &.view-display-id-blogs_landing_page, &.view-display-id-page_1 {

      .col.col-lg-6 {
        padding: 10px;
        width: 50%;
        float: left;
        overflow: auto;
        @media only screen and (max-width: 600px) {
          width: 85%;
          float: none;
          margin: auto;
        }
        @media only screen and (max-width: 400px) {
          width: 100%;
        }
      }
      .blog-item {
        @include flip-class;
        .blog-image {
          img {
            width: 100%;
            margin: auto;
          }
        }
        .blog-info {
          max-height: 100%;
          .blog-title {
            font-size: 1.2rem;
            margin-bottom: 10px;
          }
          .blog-date {
            margin: 0 0 15px;
            padding: 0;
            font-size: 15px;
            background-image: url("../images/icons/clock.png");
            background-repeat: no-repeat;
            background-position-y: 3px;
            span {
              margin-left: 25px;
            }
          }
          .blog-description {
            p {
              margin-bottom: 1.3em;
              line-height: 25px;
            }
          }
        }
      }
    }
  }
}
