@import "variable";

.page-school {

  .view-display-id-page {
    .view-content {
      .views-row {
        border: 1px solid $border-color;
        margin-top: $distance / 2;
        position: relative;
      }

      .title {
        font-size: 1.2rem;
        a {
          color: $text-color;
        }
      }

      .views-field-field-ct-images {
        img {
          width: 100%;
          height: auto;
        }
      }

      .views-field-field-ct-images, .views-field-nothing {
        width: 100%;
      }
      .views-field-nothing {
        color: $white;
        position: absolute;
        top: 0;
        padding: 20px;
        height: 100%;
        background: rgba(0, 0, 0, 0.80);
        background: rgba(10, 179, 163, 0.8);

        a {
          color: $white;
        }

        .medium, .board {
          position: absolute;
          bottom: 10px;
        }

        .board {
          right: 10px;
        }
      }
    }
  }
}
